<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Банк</a>

        {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'history' %}">История переводов</a>
        {% endif %}


        <li class="nav">
            {% if request.user.is_authenticated %}
                <span class="navbar text black" style="font-size:19px">Здравствуйте, <span class="badge badge-danger">
                    <a style="text-decoration: none; font-size:20px; color:blue" href="#">{{ request.user.username }}!</a>
                </span><a href="{% url 'logout' %}" style="color:black; text-decoration: none; font-size:19px">Выйти</a></span>
         </li>
            {% endif %}
        {% if not request.user.is_authenticated %}

                <li style="list-style-type: none;">
                    <a class="" href="{% url 'login' %}" style="text-decoration: none;">Авторизация</a>
                </li>

                <li style="list-style-type: none;">
                    <a class="" href="{% url 'register' %}" style="text-decoration: none;">Регистрация</a>
                </li>


        {% endif %}
    </div>
</nav>